In [4]:
import pandas as pd
import numpy as np

In [5]:
fruits_list = ["kiwi", "mango", "strawberry", "pineapple", 
          "gala apple", "honeycrisp apple", "tomato", 
          "watermelon", "honeydew", "kiwi", "kiwi", 
          "kiwi", "mango", "blueberry", "blackberry", 
          "gooseberry", "papaya"]

In [7]:
fruits = pd.Series(fruits_list)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### Determine the number of elements in fruits.

In [26]:
fruits.size

17

### Output only the index from fruits.

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

### Output only the values from fruits.

In [9]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

### Confirm the data type of the values in fruits.

In [10]:
fruits.dtype

dtype('O')

### Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [11]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [31]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [32]:
fruits.sample(2)

1       mango
8    honeydew
dtype: object

### Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [12]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### Run the code necessary to produce only the unique string values from fruits.

In [23]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

### Determine how many times each unique string value occurs in fruits.

In [15]:
val_counts = fruits.value_counts()
val_counts

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

### Determine the string value that occurs most frequently in fruits.

In [25]:
fruits.mode()

0    kiwi
dtype: object

### Determine the string value that occurs least frequently in fruits.

In [34]:
fruits.min()

'blackberry'

# Section 2

### Capitalize all the string values in fruits.

In [38]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

### Count the letter "a" in all the string values (use string vectorization).

In [39]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

### Output the number of vowels in each and every string value.

In [79]:
fruits.str.count('a|e|i|o|u')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

### Write the code to get the longest string value from fruits.

In [44]:
fruits.max()

'watermelon'

### Write the code to get the string values with 5 or more letters in the name.

In [65]:
fruits.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

### Find the fruit(s) containing the letter "o" two or more times.

### Write the code to get only the string values containing the substring "berry".

In [71]:
berry_fruits = fruits.str.lower().str.contains('berry')
fruits[berry_fruits]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

### Write the code to get only the string values containing the substring "apple".

In [73]:
apple_fruits = fruits.str.lower().str.contains('apple')
fruits[apple_fruits]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

### Which string value contains the most vowels?

In [82]:
max = fruits.str.count('a|e|i|o|u').max()
fruits[max], max

('honeycrisp apple', 5)

## Section 3

In [106]:
# Use pandas to create a Series named letters from the following string. 
# The easiest way to make this string into a Pandas series is to use list 
# to convert each individual letter into a single string on a basic Python list.

letters_string = 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

def Convert(string):
    list1 = []
    list1[:0] = string
    return list1

In [132]:
let_list = Convert(letters_string)

In [112]:
letters = pd.Series(let_list)

#### Which letter occurs the most frequently in the letters Series?

In [113]:
letters.mode()

0    y
dtype: object

#### Which letter occurs the Least frequently?

In [114]:
letters.min()

'a'

#### How many vowels are in the Series?

#### How many consonants are in the Series?

#### Create a Series that has all of the same letters but uppercased.

In [127]:
letters.str.upper()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object

#### Create a bar plot of the frequencies of the 6 most commonly occuring letters.